{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbols</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"]|usd }}</td>
                <td>{{ (row["shares"] * row["price"])|usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="border-bottom-none">
            <tr>
                <td></td>
                <td></td>
                <th scope="col">Cash</th>
                <td scope="col">{{ cash|usd }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th scope="col">TOTAL</th>
                <td scope="col">{{ (cash + sum)|usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
